<form class="form-horizontal" ng-submit="agregarNuevoUsuario()">
    <fieldset>
        <legend>
            <h1>Registro de Solicitud </h1></legend>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Fecha de Nacimiento</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputNombre" ng-model="nuevoUsuario.nombre" placeholder="Nombre">
            </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Fecha de Nacimiento</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputApellido" ng-model="nuevoUsuario.apellido" placeholder="Apellido">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-lg-2 control-label">Fecha de Nacimiento</label>
            <div class="col-lg-10">
                <input type="date" class="form-control" id="inputFecha" ng-model="nuevoUsuario.fechaDeNacimiento" placeholder="Fecha de nacimiento">
            </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Fecha de Nacimiento</label>
            <div class="col-lg-10">
                <input type="email" class="form-control" id="inputEmail" ng-model="nuevoUsuario.email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Fecha de Nacimiento</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" ng-model="nuevoUsuario.password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Fecha de Nacimiento</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputCPassword" ng-model="nuevoUsuario.confirmar" placeholder="Confirmar password">
            </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Fecha de Nacimiento</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputCPassword" ng-model="nuevoUsuario.confirmar" placeholder="Confirmar password">
            </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Fecha de Nacimiento</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputCPassword" ng-model="nuevoUsuario.confirmar" placeholder="Confirmar password">
            </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Fecha de Nacimiento</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputCPassword" ng-model="nuevoUsuario.confirmar" placeholder="Confirmar password">
            </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Fecha de Nacimiento</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputCPassword" ng-model="nuevoUsuario.confirmar" placeholder="Confirmar password">
            </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Fecha de Nacimiento</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputCPassword" ng-model="nuevoUsuario.confirmar" placeholder="Confirmar password">
            </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Fecha de Nacimiento</label>
            <div class="col-lg-10">
                <input type="password" class="form-control" id="inputCPassword" ng-model="nuevoUsuario.confirmar" placeholder="Confirmar password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2">
                <button type="reset" class="btn btn-default">Cancelar</button>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </div>
        </div>
    </fieldset>
</form>
